<div class="input-group shearch">
	<input ng-model="filtroAlbum" type="text" class="form-control" placeholder="Buscar por albúm..."/>
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>
			</div>
</div>
<table class="table table-hover">
    <tbody>
    <tr class="info">
        <td><h4>Álbum</h4></td>
        <td><h4>Título</h4></td>
        <td class="text-right"><h4>Año</h4></td>
	    <td class="text-center"><h4>Favorito</h4></td>
    </tr>
    <tr class="active" ng-repeat="album in albums | filter:{ title: filtroAlbum }" albums-directive data="album"></tr>
    </tbody>
</table>

<!-- Control de paginación. Directiva de Angular UI Bootstrap -->
<h4><uib-pagination
		ng-change="pager.pageChange()"
		ng-model="pager.actualPage"
		total-items="pager.totalItems"
		items-per-page="pager.ItemsForPage"
></uib-pagination></h4>


