<table class="table table-responsive">
	<tbody>
	<tr class="active">
		<td ROWSPAN=2>
			<a href="#/albums/"> <img ng-src="{{ routeImage( albums.image ) }}"
					width="800"
					class="img-responsive"/></a>
		</td>
		<td>
			<h2>{{ albums.title }}</h2>
			<h4><span class="text-warning text-uppercase">Tracklist: </span><br/>{{ albums.tracklist | trackListAlbums}}
			</h4>

			<div ng-controller="ScoreCtrl">
				<h4><voting score="3"></voting></h4>
				<h4>Votar:<select class="form-control"
						ng-model="saveStorage"
						ng-change="saveStore()">
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select></h4>

			</div>
			<!-- score recibe los datos almacenados del local storage -->

			<h4><input class="btn btn-default"
					type="button"
					ng-click="getYouTubeLink(albums.title)"
					value="Ver en YouTube"/></h4>

		</td>
	</tr>
	</tbody>
</table>