<div class="input-group shearch">
	<input ng-model="filtroBands" type="text" class="form-control" placeholder="Buscar por bandas..."/>
			<div class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>
			</div>
</div>

<table class="table table-hover">
    <tbody>
    <tr class="info">
        <td><h4>Nombre</h4></td>
        <td class="text-center"><h4>Origen</h4></td>
        <td class="text-center"><h4>Favorito</h4></td>
    </tr>
    <tr class="active"
        ng-repeat="band in bands | orderBy:'name' | filter:{ name: filtroBands }"
        bands-directive
        data="band"></tr>
    </tbody>
</table>
